extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis eu tortor blandit vestibulum. Pellentesque auctor nisl at nisi finibus ultrices. Curabitur ut nunc vitae justo molestie condimentum. Duis sagittis scelerisque erat eu gravida. Sed at luctus metus.

                p Proin sed sodales ipsum. Nulla facilisi. Duis condimentum eu nisl sed pretium. Sed sed nunc sed ante hendrerit vulputate. Curabitur quam erat, auctor at pulvinar a, molestie et nunc. Nam feugiat tortor magna, sed posuere ligula mattis nec. Cras pharetra scelerisque dignissim. Praesent venenatis, risus nec bibendum viverra, sem sapien tincidunt turpis, vel sodales velit nulla quis quam. Aliquam bibendum tempor ligula, pellentesque commodo mauris tristique sit amet. 

                p Nunc rhoncus tortor vitae tellus sodales, at ultricies nibh varius. Donec rutrum convallis erat, eu lobortis dolor pretium viverra. Donec efficitur euismod urna, a rhoncus velit hendrerit in. Nulla et libero sed libero posuere iaculis. Phasellus tincidunt at nibh eget feugiat. Quisque vitae facilisis eros.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p am feugiat tortor magna, sed posuere ligula mattis nec. Cras pharetra scelerisque dignissim.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p am feugiat tortor magna, sed posuere ligula mattis nec. Cras pharetra scelerisque dignissim.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p am feugiat tortor magna, sed posuere ligula mattis nec. Cras pharetra scelerisque dignissim.
